.jumbotron{
    background-image: url("../images/office-background-image.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
/* .display-4{
    font-family: 'Righteous';
    font-weight: bold;
} */
embed{
    background: none;
    width: 300px;
    height: 0px;
}
.container{
    opacity: 0.8;
    background-color:white;
    border-radius: 20px;
    font-family: 'Righteous';
    font-weight: bold;
}
#start{
    margin-bottom: 10px;
}